ul.treeview {
  position: absolute;
  cursor: default;
}
ul.treeview, .treeview ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.treeview ul {
  padding-left: 15px;
}
.treeview .empty {
  opacity: 0.8;
  font-style: italic;
  padding-left: 10px;
}
.treeview .entry {
  margin-left: -1000px;
  padding-left: 1000px;
  display: block;
  white-space:nowrap;
}
